# The lxc_rootfs_mount is injected when lxc.hook.mount OR lxc.hook.autodev is run!
# lxc.environment = LXC_ROOTFS_MOUNT=<LXC_BASE_DIR>/<NAME>/rootfs

##Issue with apt-get! Must not add this? Think NOT
#lxc.arch = x86_64
## Or need to copy the /usr/bin/qemu-x86_64 to container (/usr/bin) first? NO


lxc.net.0.type = veth
lxc.net.0.flags = up
lxc.net.0.hwaddr = 00:16:3E:3B:8B:7C
lxc.net.0.link = bridge0

## Bellow activated does "KILL" apt-get ie. errors with Permissions etc.
## https://github.com/whiskerz007/proxmox_hassio_lxc/blob/fad821e2c3d2d0fb570f844379f03b247ff3b9c7/create_container.sh#L141
#lxc.cgroup.devices.allow = a
#lxc.cap.drop = 

## https://github.com/whiskerz007/proxmox_hassio_lxc/blob/fad821e2c3d2d0fb570f844379f03b247ff3b9c7/create_container.sh#L148
# lxc.hook.pre-start = "sh -ec 'for module in aufs overlay; do modinfo $module; $(lsmod | grep -Fq $module) || modprobe $module; done;'"

## https://github.com/whiskerz007/proxmox_hassio_lxc/blob/fad821e2c3d2d0fb570f844379f03b247ff3b9c7/create_container.sh#L156
lxc.hook.mount = "sh -c 'ln -fs $(readlink /etc/localtime) ${LXC_ROOTFS}/rootfs/etc/localtime'"
